# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# ide stuff
.idea/

# Library used for recovery
/recovery/DynamoDbBackUp

# Temporary copy of backups (used during Disaster Recovery)
/recovery/TempCopyOfBackups
