#%RAML 1.0
title: TOTP API
version: v1
baseUri: https://api.samplehost.com
protocols: [HTTPS]

/api-key:
  description: |
    Create a new API Key for this API. This endpoint will send an email with a
    new, unique API Key. You must then make a separate call to activate that API
    Key. Protect your API Key as a secret.
  post:
    body:
      application/json:
        properties:
          email:
            type: string
            required: true
        example: |
          {
            "email": "john_smith@example.com"
          }
    responses:
      204:
        description: |
          The API Key was successfully created, and an email will be sent to the
          given email address with the API Key's value.
      400:
        description: |
          The request was unacceptable for some reason. See the error message.
      401:

/api-key/activate:
  description: |
    Activate a recently-created API Key. Returns the API Secret needed for
    further calls. This call can only be made once per API Key, so make sure you
    save the API Secret somewhere safe.
  post:
    body:
      application/json:
        properties:
          email:
            type: string
            required: true
          apiKey:
            type: string
            required: true
        example: |
          {
            "email": "john_smith@example.com",
            "apiKey": "0123456789abcdef0123456789abcdef01234567"
          }
    responses:
      200:
        body:
          application/json:
            properties:
              apiSecret:
                type: string
            example: |
              {
                "apiSecret": "ABCDEFGHIJKLMNOPQRSTUVWXYZ+abcdefgh/ijklmno="
              }
      401:
      404:
        description: |
          No such API key was found with that email address.

/totp:
  description: |
    Create a new TOTP account. This will return a UUID for that account, along
    with a TOTP key and barcode for the end-user to type in or scan in order to
    add an account to their TOTP-compatible smartphone app.
  post:
    headers:
      X-TOTP-ApiKey:
        description: API Key
        required: true
      X-TOTP-ApiSecret:
        description: API Secret
        required: true
    body:
      application/json:
        properties:
          issuer:
            description: |
              The name of the service/website for which the user is setting up
              this TOTP account.
            type: string
            required: false
          label:
            description: |
              A name for the user's account (such as their username).
            type: string
            required: false
        example: |
          {
            "issuer": "Acme",
            "label": "john_smith@example.com"
          }
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "uuid": "aaaaaaaa-1111-aaaa-1111-aaaaaaaaaaaa",
                "totpKey": "aaaa bbbb cccc dddd 1111 2222 3333 4444",
                "imageUrl": "data:image/gif;base64,..."
              }
      401:

/totp/{uuid}:
  uriParameters:
    uuid:
      description: The TOTP account's UUID.
      type: string
      required: true
  delete:
    headers:
      X-TOTP-ApiKey:
        description: API Key
        required: true
      X-TOTP-ApiSecret:
        description: API Secret
        required: true
    responses:
      204:
      401:
      404:
      500:

/totp/{uuid}/validate:
  uriParameters:
    uuid:
      description: TOTP UUID
      type: string
      required: true
  post:
    headers:
      X-TOTP-ApiKey:
        description: API Key
        required: true
      X-TOTP-ApiSecret:
        description: API Secret
        required: true
    body:
      application/json:
        properties:
          code:
            type: string
        example: |
          {"code": "012345"}
    responses:
      204:
      400:
        description: |
          The request body was invlalid, such as if no `code` value was found.
      401:
      404:
